<p>Hello {{name}} {{surName}}!</p>
<p>Click this <a href="{{url}}">link</a> to confirm you registration </p>
<img src="https://media.tenor.com/Y96L7SFpkHMAAAAd/feliz-navidad-feliz-navidad-amogus.gif" alt="amogus">